@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap");

* {
  /* color: red; */
  font-family: "Lato", sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

h1,
h2,
h3,
h4,
h5,
h6,
span {
  color: #242424;
  text-align: center;
  line-height: 1.25;
}

h1 {
  font-size: 36px;
}

p {
  line-height: 1.5;
  font-size: 16px;
}

.link__hover-effect:after{
    content:"";
    position:absolute;
    height: 3px;
    width: 0;
    bottom: -3px;
    right: 0;
    transition: all 300ms ease;
}

.link__hover-effect--white:after{
    background-color:white;
}

.link__hover-effect--black:after{
    background-color:black;
}

.link__hover-effect:hover:after{
    width: 100%;
    left: 0;
}

a{
    text-decoration: none;
    position: relative;
    transition: opacity 300ms ease;
}

i:hover{
    opacity: 0.7;
}

li {
  list-style: none;
}

.flex {
  display: flex;
}

.flex-1 {
  flex: 1;
}

.container {
  padding: 52px 0px;
}

.row {
  width: 100%;
  max-width: 900px;
  margin: 0 auto;
  padding: 0px 12px;
}

.text--purple {
  color: #6030b1;
}

section:nth-child(even) {
  background-color: #f8f8f8;
  /* background-color: red; */
}

.section__title {
  margin-bottom: 20px;
}
/* 

NAVIGATION BAR

*/

nav {
  height: 100px;
  width: 100%;
  max-width: 1300px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 12px;
}

.personal__logo {
  font-size: 24px;
  color: #6030b1;
  margin: 0px 12px;
  font-weight: bold;
}

.nav__link--list {
  display: flex;
}

.nav__link--anchor {
  margin: 0px 12px;
  color: #242424;
  text-decoration: none;
  font-weight: 700;
}

.nav__link--anchor-primary {
  background-color: #6030b1;
  padding: 8px 20px;
  border-radius: 50px;
  color: white;
  transition: all 300ms ease;
}

.nav__link--anchor-primary:hover {
  background-color: #5d3eff;
}

/*

ABOUT ME 

*/

#about-me {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.about-me__info {
  display: flex;
  flex-direction: column;
}

.about-me__info--container {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 500px;
  margin: 0 auto;
  text-align: center;
  padding-top: 32px;
}

.about-me__picture--mask {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  overflow: hidden;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.16);
  margin-bottom: 24px;
  animation: animate-profile-picture 800ms 200ms backwards;
}

@keyframes animate-profile-picture {
    0%{
        transform: scale(0);
    }
    80%{
        transform: scale(1.1);
    }
    100%{
        transform: scale(1);
    }
}

.about-me__picture {
  width: 100%;
  height: 100%;
}

.about-me__info--title {
  margin-bottom: 16px;
  animation: fade-up 650ms 400ms backwards;
}

.about-me__info--para {
  font-size: 20px;
  line-height: 1.5;
  margin-bottom: 28px;
  animation: fade-up 650ms 400ms backwards;

}

.about-me__link {
  font-size: 20px;
  color: #242424;
  text-decoration: none;
  padding: 0px 16px;
  animation: fade-up 650ms 600ms backwards;
}

.about-me__links{
    animation: fade-up 650ms 800ms backwards;
}

@keyframes fade-up{
    0%{
        opacity: 0;
        transform: translateY(40px);
    }
    100%{
        opacity: 1;
        transform: translateY(0);

    }
}

.about-me__image--container {
  flex: 1;
  display: flex;
  align-items: center;
}

.about-me__image {
  width: 100%;
  animation: fade-in 1200ms 800ms backwards;
}

@keyframes fade-in {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
    
}

.wave{
    display: inline-block;
    animation: animate-wave 500ms infinite ease;
}

@keyframes animate-wave{
    0%{
        transform: rotate(0);
    }
    50%{
        transform: rotate(30deg);
    }
    0%{
        transform: rotate(0);
    }
}
/*

WORK EXPERIENCE

*/
.work {
  padding-bottom: 135px;
}

.work--wrapper {
  display: flex;
  box-shadow: 0 20px 80px rgba(0, 0, 0.45);
  border-radius: 20px;
  overflow: hidden;
  position: relative;
  max-width: 500px;
  margin: 0 auto;
}

.work:first-child{
  padding-top: 48px;
}

.work--wrapper:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: #1c1d25;
  opacity: 0;
  transition: opacity 450ms ease;
  z-index: 2;
}

.work:hover .work--wrapper:before {
  opacity: 0.7;
}

.work:hover .work__image {
  transform: scale(1.07);
  filter: blur(5px);
}

.work:hover .work__description {
  opacity: 1;
  transform: translateY(-50%);
}

.work__image {
  width: 100%;

  transition: all 500ms ease;
}

.work__description {
  position: absolute;
  top: 40%;
  left: 30px;
  transform: translateY(100%);
  max-width: 450px;
  z-index: 3;
  opacity: 0;
  transition: transform 450ms, opacity 300ms;
}

.work__description--title {
  font-size: 36px;
  /* padding-bottom: 24px; */
}

.work__description--list {
  margin: 16px 0px;
}

.work__description--item{
    padding: 2px 0px;
}

.work__description--title,
.work__description--position,
.work__description--tech,
.work__description--item {
  text-align: left;
  color: white;
}
/*

TECH STACK

*/
.languages__list {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
}

.languages {
  width: 25%;
  display: flex;
  justify-content: center;
  position: relative;
}

.languages:hover .language__name {
  transform: scale(1);
  opacity: 1;
}

.languages__image--wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 24px 16px;
}

.languages:hover .languages__image {
  filter: brightness(80%);
  opacity: 0.86;
  transform: scale(0.9);
}

.languages__image {
  width: 100%;
  max-width: 100px;
  transition: all 300ms;
}

.language__name {
  position: absolute;
  bottom: 0;
  transform: scale(0);
  transition: all 300ms;
  font-size: 20px;
  opacity: 0;
}


/*

PROJECT 

*/

.project {
  margin-bottom: 135px;
}

.project:last-child {
  margin-bottom: 40px;
}

.project__image {
  width: 100%;
  transition: all 500ms ease;
}

.project__wrapper {
  display: flex;
  box-shadow: 0 20px 80px rgba(0, 0, 0.45);
  border-radius: 20px;
  overflow: hidden;
  position: relative;
}

.project__wrapper:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: #1c1d25;
  opacity: 0;
  transition: opacity 450ms ease;
  z-index: 2;
}

.project:hover .project__wrapper:before {
  opacity: 0.7;
}

.project:hover .project__image {
  transform: scale(1.07);
  filter: blur(5px);
}

.project__list {
  padding-top: 40px;
}

.project:hover .project__description {
  opacity: 1;
  transform: translateY(-50%);
}

.project__description {
  position: absolute;
  top: 50%;
  left: 90px;
  transform: translateY(100%);
  max-width: 550px;
  z-index: 3;
  opacity: 0;
  transition: transform 450ms, opacity 300ms;
}

.project__description--title {
  font-size: 40px;
}

.project__description--para {
  margin: 16px 0px;
}

.project__description--link {
  font-size: 20px;
  margin-right: 16px;
  text-decoration: none;
}

.project__description--title,
.project__description--sub-title,
.project__description--para,
.project__description--link{
  text-align: left;
  color: white;
}

/*

FOOTER

*/

footer{
    background-color: #242424;
}


.footer__social--list{
    width: 100%;
    max-width: 500px;
    display: flex;
    justify-content: space-around;
    margin-bottom: 28px;
}

.footer__logo--image{
    width: 100px;
    height: 100px;
}

.footer__row{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2% 0;
}

.footer__social--link,
.footer__copyright{
    color: white;
}

.footer__logo--popper{
    position: absolute;
    right: 0;
    color: white;
    top: 30px;
    font-weight: 700;
    opacity: 0;
    transition: all 300ms ease;
}

.footer__anchor{
    position: relative;
    margin-bottom: 20px;
}

.footer__anchor:hover .footer__logo--popper{
    transform: translateX(45px);
    opacity: 1;
}

@media (max-width: 768px){
    nav{
        height: 68px;
    }
    h1{
        font-size: 28px;
    }

    .about-me__info--para{
        font-size: 18px;
    }

    .languages{
        width: calc(100% / 3)
    }

    .project__description--para{
        font-size: 14px;
    }

    .work__description--item{
        font-size: 14px;
    }

    .project__description{
        left: 30px;
        padding-right: 30px;
    }
}

@media (max-width: 480px){
    .nav__link:not(:last-child){
        display: none;
    }
    
    .project__description {
        padding: 0;
        left: 0;
        width: 100%;
    }

    .project__description--para{
        display: none;
    }
    
    .project__description--links{
        display: flex;
        justify-content: center;
    }

    .project__description--sub-title{
        text-align: center;
        margin: 12px 0px;
    }

    .project__description--title{
        font-size: 32px;
        line-height: 1;
        text-align: center;
    }

    .work__description--tech{
        text-align: center;
    }

    .work__description--item{
        display: none;
    }

    .work__description{
        top: 50%;
        width: 100%;
        left: 0;
    }

    .work__description--title{
        font-size: 32px;
        line-height: 1;
        text-align: center;
    }

    .work__description--position{
        margin: 12px 0px;
        text-align: center;
    }

}