.sub-button{
    background-color: slategray;
    color: white;
    padding: 10px, 15px;
    border: none;
}

.sub-button:hover{
    background-color: purple;
    color: white;

}

a{
    text-decoration: none;
    color: black; 
 }
 a:hover{
     color:red;
 }
 a:active{
     color:cyan;
 }
 

body{
    background-color: #f4f4f4;
    color: darkslategray;

    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    font-weight: normal;
    
    /* font: normal 16px Arial, Helvetica, sans-serif; */
    line-height: 1.6em;
    margin: 0;
}

.clear {
    clear:both
}

.container {
    width: 80%;
    margin:auto;
}

.box-1{
    background-color: blue;
    color: white;

    border-right: 5px red solid;
    border-left: 5px red solid;
    border-top: 5px red solid;
    border-bottom: 5px red solid;
    

    border-width: 3px;
    border-bottom-width: 10px;
    border-top-style: dotted;

    border: 5px red solid;

    padding:20px;
    margin:20px 0px;
}

.box-1 h1{
    font-family: Tahoma;
    font-weight: 800;
    font-style: italic;
    text-decoration: wavy;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    word-spacing: 1em;
}

.box-2 {
    border: 3px dotted red;
    padding: 20px;
    margin: 20px 0px;
    

}

.categories{
    border: 1px solid blue;
    padding:10px;
    border-radius: 15px;
    margin-bottom: 30px;
}

.categories h2{
    text-align: center;
}

.categories ul{
    padding:0px;
    padding-left: 20px;
    list-style-type: square;
}

.categories li{
    padding-bottom: 6px;
    border-bottom: dotted 1px black;
    list-style-image: url(./assets/discord-t.png);
    
}

/* .categories li::before{
    content: '';
    display: inline-block;
    height: 10px;
    width: 10px;
    background-image: url('https://cdn.pixabay.com/photo/2016/03/31/14/37/check-mark-1292787_1280.png');
} */
.my-form{
    padding:20px;
}
.my-form .form-group{
    padding-bottom: 0px;
}
.my-form label{
    display:block;
}
.my-form input[type=text],.my-form input[type=email],.my-form textarea{
    padding:8px;
    width: 100%;
}

.block {
    float:left;
    width:33.3%;
    color: black;
    border: 1px red solid;
    padding: 6px;
    box-sizing: border-box;
}

.block h3 {
    text-align: center;
}

#main-block {
    float:left;
    width:70%;
}

#main-block h3 {
    text-align: center;
}

#sidebar{
    float:right;
    width:30%;
    background-color: slategray;
    color: white;
    padding: 15px;
    box-sizing: border-box;
}

.p-box{
    width: 500px;
    height:500px;
    padding:5px;
    border: 1px solid black;
    margin-top: 100px;
    position: relative;
    /* background-image: url(/assets/laptop.png); */

    background-position: 100px 200px;
    background-repeat: no-repeat;
    background-position: center top;
}

.p-box h1{
    position:absolute;
    top:100px;
    left: 200px;
}

.p-box h2 {
    position:absolute;
    top:300px;
    left: 200px;
}

.another{
    position: fixed;
    top:400px;
}

.my-list li:first-child{
    background:red;
}

.my-list li:last-child{
    background:blue;
}

.my-list li:nth-child(3){
    background:magenta;
}

.my-list li:nth-child(even){
    background:turquoise;
}