@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,500;0,900;1,100;1,300;1,500;1,700;1,900&display=swap');
*{
    font-family: Roboto, sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a{
    color: black;
    font-size: 24px;
    font-weight: 700;
}

nav {
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 16px;
    background-color: #cafdff;
}

.logo {
    width: 300px;
}

nav ul {
    display: flex;
}

nav ul li {
    list-style-type: none;
    padding-right: 16px;
}

header {
    background-color: lightblue;
    /*this is to make sure everything is in one viewport */
    height: calc(100vh - 70px); 
    display: flex;
    align-items: center;
    justify-content: center;
}

header {
    font-size: 64px;;
}

.subheader {
    font-size: 32px;
    margin: 16px 0px 24px 0px;
}

.google{
    background-color: #05c7cf;
    color: white;
    font-size: 24px;
    padding:8px 16px;
    cursor: pointer;
}

.row {
    width:100%;
    max-width: 1300px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

/*


ABOUT 

*/

#about {
    padding: 48px 0px;

}

h2 {
    font-size: 60px;
    text-align: center;
    margin-bottom: 24px;
}

.section__description{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
    

}
.about__image-wraper {
    width: 40%;
    /* padding: 0px 24px; */

}
img {
    width: 100%;
}

.section__description-wrapper{
    width: 60%;
    padding: 0px 24px;
}

.section__description__para{
    font-size: 20px;
    line-height: 1.5;
    margin-bottom: 24px;
}

/*


CONTACT 


*/

#contact {
    background-color: cyan;
    padding: 48px 0;
}

#contact img {
    width:400px;

}


